/* ==========================================================================
  Structure, layout and (author) elements
  ========================================================================== */
.page_grid {
  max-width: var(--site_width);
  width:90%;
  margin:0 auto;
  display: grid;
  grid-template-columns: repeat(var(--site_columns), 1fr);
  grid-template-rows: repeat(var(--site_columns), auto);
  grid-gap: var(--site_gutter);
}

#site_header {
  grid-column: 1 / 9;
  grid-row: 1 / 2;
}

#site_nav {
  grid-column: 1 / 9;
  grid-row: 2 / 4;
}

#main_image {
  grid-column: 1 / 9;
  grid-row: 4 / 5;
  padding-top: 100%;
}

#site_article01 {
  grid-column: 1 / 9;
  grid-row: 5 / 6;
}

#site_article02 {
  grid-column: 1 / 9;
  grid-row: 6 / 8;
}

#site_footer {
  grid-column: 1 / 9;
  grid-row: 7 / 9;
}

.site_header{
  min-height: 300px;
  align-self: stretch;
  background-color: rgba(var(--site_base_red), var(--site_base_green), var(--site_base_blue), 1);
  padding: var(--site_gutter);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: var(--site_borders) solid var(--text_on_color);
  border-top:0px;

  h1, h2, h3, h4 {
    color:var(--text_on_color);
    span {
      background: var(--text_on_color);
      color: rgba(var(--site_base_red), var(--site_base_green), var(--site_base_blue), 1);
      padding: 0.225em 0.325em 0px 1.5em;
    }
  }
}

.site_nav {
  align-self:end;
  padding-top: var(--site_gutter);
  //border-bottom: 2px solid rgba(var(--site_base_red), var(--site_base_green), var(--site_base_blue), 1);

  fieldset {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0px;

    &.radio_btn {
      justify-content: flex-start;
      label {
        margin: 0px 15px 0px 5px;
      }
    }
  }

  h1, h2, h3, h4 {
    color:#333;
  }

}

.main_image {
  position: relative;
  background-image: url(../../img/stars.jpg);
  margin: 0px;
  padding: 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: var(--site_borders) solid var(--text_on_color);

  figcaption {
    position: absolute;
    bottom: var(--site_gutter);
    left: var(--site_gutter);
    border: var(--site_borders) solid var(--text_on_color);
    color:var(--text_on_color);
    padding: var(--site_gutter);
    background-color: rgba(var(--site_base_red), var(--site_base_green), var(--site_base_blue), 1);
  }
}


.site_footer {
  background-color: rgba(var(--site_base_red), var(--site_base_green), var(--site_base_blue), 1);
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: var(--site_borders) solid var(--text_on_color);
  border-bottom: 0px;

  p {
    text-align: center;
    color:var(--text_on_color);
  }
}
