/* ==========================================================================
  Site Variables
  ========================================================================== */

:root {
  //Typography
  --type_base_header: 'Vollkorn', serif;
  --type_base_copy: 'Vollkorn', serif;
  --site_base_size: 16px;

  //Colour
  --site_base_red: 0;
  --site_base_green: 0;
  --site_base_blue: 0;
  --text_on_color: white;

  //Grid
  --site_base_width: 1200px;
  --site_columns: 8;
  --site_rows: 4;
  --site_gutter: 1.5rem;
  --site_borders: 0.5rem;


  //Grid numbers

  --grid_image-left: 1;
  --grid_image-right: 6;
  --grid_image-top: 2;
  --grid_image-bottom: 5;

  --grid_article01-left: 6;
  --grid_article01-right: 9;
  --grid_article01-top: 2;
  --grid_article01-bottom: 6;

  --grid_article02-left: 1;
  --grid_article02-right: 6;
  --grid_article02-top: 5;
  --grid_article02-bottom: 8;

  --grid_footer-left: 1;
  --grid_footer-right: 9;
  --grid_footer-top: 8;
  --grid_footer-bottom: 9;

}
