
/* ==========================================================================
  EXAMPLE Media Queries for Responsive Design.
  These examples override the primary ('mobile first') styles.
  Modify as content requires.
  ========================================================================== */

  @media only screen and (min-width: 600px) {
    #site_header {
      grid-column: 4 / 9;
      grid-row: 1 / 2;
    }

    #site_nav {
      grid-column: 1 / 4;
      grid-row: 1 / 2;
    }


    #main_image {
      grid-column: var(--grid_image-left) / var(--grid_image-right);
      grid-row: var(--grid_image-top) / var(--grid_image-bottom);
      padding-top: 50%;
    }

    #site_article01 {
      grid-column: var(--grid_article01-left) / var(--grid_article01-right);
      grid-row: var(--grid_article01-top) / var(--grid_article01-bottom);
    }

    #site_article02 {
      grid-column: var(--grid_article02-left) / var(--grid_article02-right);
      grid-row: var(--grid_article02-top) / var(--grid_article02-bottom);
    }

    #site_footer {
      grid-column: var(--grid_footer-left) / var(--grid_footer-right);
      grid-row: var(--grid_footer-top) / var(--grid_footer-bottom);
    }

    .main_image {

      figcaption {

        bottom: 20%;
        left: -40px;

      }
    }

  }

@media print,
      (-webkit-min-device-pixel-ratio: 1.25),
      (min-resolution: 1.25dppx),
      (min-resolution: 120dpi) {
   /* Style adjustments for high resolution devices */
}


/* ==========================================================================
  Print styles.
  Inlined to avoid the additional HTTP request:
  https://www.phpied.com/delay-loading-your-print-css/
  ========================================================================== */

  @media print {
   *,
   *:before,
   *:after {
       background: transparent !important;
       color: #000 !important; /* Black prints faster */
       -webkit-box-shadow: none !important;
       box-shadow: none !important;
       text-shadow: none !important;
   }

   a,
   a:visited {
       text-decoration: underline;
   }

   a[href]:after {
       content: " (" attr(href) ")";
   }

   abbr[title]:after {
       content: " (" attr(title) ")";
   }

   /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */

   a[href^="#"]:after,
   a[href^="javascript:"]:after {
       content: "";
   }

   pre {
       white-space: pre-wrap !important;
   }
   pre,
   blockquote {
       border: 1px solid #999;
       page-break-inside: avoid;
   }

   /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */

   thead {
       display: table-header-group;
   }

   tr,
   img {
       page-break-inside: avoid;
   }

   p,
   h2,
   h3 {
       orphans: 3;
       widows: 3;
   }

   h2,
   h3 {
       page-break-after: avoid;
   }
}
