{
  "extends": "eslint:recommended",
  "rules": {
      "no-alert": 1,
      "camelcase": 0,
      "curly": 1,
      "eqeqeq": 1,
      "no-console": 0,
      "guard-for-in": 1,
      "no-empty": 0,
      "no-param-reassign": 1,
      "no-unused-vars": 0,
      "quotes": [ 0, "single"]
  },
  "globals": {
        "jQuery": false,
        "$": false
  },
  "env": {
    "browser": true,
    "es6": true
  }
}
